@import "~tailwindcss/base.css";
@import "~tailwindcss/components.css";
@import "~tailwindcss/utilities.css";
@import "~rc-dropdown/assets/index.css";
@import "~react-resizable/css/styles.css";
@import "./theme.less";
@tprefix: extable;

@layer components {

    // 工具栏按钮
    .toolbar-btn {
        @apply btn btn-square btn-sm rounded-none min-w-sm w-auto p-1 align-middle btn-primary;
    }

    .btn-group.btn-group-vertical .toolbar-btn {
        &:first-child:not(:last-child) {
            @apply rounded-t-s;
        }

        &:last-child:not(:first-child) {
            @apply rounded-b-s;
        }
    }

    // 不和dropdown一起显示的tooltip
    .dptooltip {
        @apply tooltip tooltip-bottom z-10;

        &.rc-dropdown-open::before,
        &.rc-dropdown-open::after {
            display: none;
        }
    }

    // 工具栏菜单
    .toolbar-menu {
        @apply menu bg-white rounded-sm drop-shadow-md;

        >li {
            @apply items-center;
        }

        >li>a {
            @apply py-4px;
        }
    }

    // 输入框/组
    .tool-input-group {
        @apply flex items-stretch;

        >span:first-child,
        >.tool-input:first-child,
        >.tool-input-number:first-child input {
            @apply rounded-l-md rounded-r-none;
        }

        >span:last-child,
        >.tool-input:last-child,
        >.tool-input-number:last-child input {
            @apply rounded-r-md rounded-l-none;
        }

        >span {
            @apply bg-primary text-primary-content flex items-center px-2;
        }
    }

    .tool-input {
        @apply input input-sm border-primary border-opacity-30;

        &:focus,
        &:hover {
            @apply border-opacity-70 outline-none;
        }

        &:focus {
            --tw-shadow-color: hsl(var(--p) / 20%);
            box-shadow: 0 0 0 2px var(--tw-shadow-color);
        }
    }

    .tool-line {
        @apply border-black my-2 border-t-2 w-16;
    }

    .tool-input-number {}
}

.@{tprefix}-toolbar {
    >:first-child .toolbar-btn {
        @apply rounded-l-s;
    }

    >:last-child .toolbar-btn {
        @apply rounded-r-s;
    }
}

.@{tprefix} {
    @apply relative box-border;

    &-rtl {
        direction: rtl;
    }

    &-table-wrapper {
        // table theme
        .theme();

        // table基础
        table {
            @apply border-spacing-0;
        }

        th,
        td {
            @apply relative box-border break-words transition-shadow;
        }

        // resizeable handle
        th.react-resizable,
        tr.react-resizable {
            @apply relative bg-clip-padding;
        }

        th .react-resizable-handle {
            @apply cursor-col-resize bg-none p-0 bottom-0;
            width: calc(var(--ex-resize-width) * 2 + 1px);
            height: 100%;
            right: calc(-1 * var(--ex-resize-width));
            z-index: 1;

            &:hover {
                @apply bg-primary bg-opacity-50;
            }
        }

        tr>.react-resizable-handle {
            @apply absolute cursor-row-resize bg-none p-0 right-0;
            z-index: 1;
            width: 100%;
            height: calc(var(--ex-resize-width) * 2 + 1px);
            bottom: calc(-1 * var(--ex-resize-width));

            &:hover {
                @apply bg-primary bg-opacity-50;
            }
        }
    }

    // serial cell&header
    &-serial-cell,
    &-serial-table &-thead tr th {
        @apply bg-slate-300;
    }

    tr td tr th {
        &.@{tprefix}-serial-cell {
            @apply border-r-0;
        }
    }

    // toolbar
    &-toolbar {
        @apply py-2;
    }
}