// 样式变量
.theme() {
    // cell样式
    --cell-f-size: 12;
    --cell-f-family: Microsoft YaHei;
    --cell-f-color: #666;
    --cell-align-v: middle;
    --cell-align-h: center;
    --cell-bg: transparent;
    --cell-f-weight: normal;
    --cell-f-style: normal;
    --cell-decoration: none;
    // 四向边框
    --cell-b-width-t: 1px;
    --cell-b-style-t: solid;
    --cell-b-color-t: cornflowerblue;
    --cell-b-width-l: 1px;
    --cell-b-style-l: solid;
    --cell-b-color-l: cornflowerblue;
    --cell-b-width-r: 1px;
    --cell-b-style-r: solid;
    --cell-b-color-r: cornflowerblue;
    --cell-b-width-b: 1px;
    --cell-b-style-b: solid;
    --cell-b-color-b: cornflowerblue;
    // 其他
    --ex-resize-width: 1px; // resize handle宽度

    /* cell */
    tr th,
    tr td {
        font-size: calc(1px * var(--cell-f-size));
        font-family: var(--cell-f-family);
        color: var(--cell-f-color);
        text-align: var(--cell-align-h);
        vertical-align: var(--cell-align-v);
        background-color: var(--cell-bg);
        text-decoration: var(--cell-decoration);
        font-weight: var(--cell-f-weight);
        font-style: var(--cell-f-style);
        border-style: var(--cell-b-style-t) var(--cell-b-style-r) var(--cell-b-style-b) var(--cell-b-style-l);
        border-color: var(--cell-b-color-t) var(--cell-b-color-r) var(--cell-b-color-b) var(--cell-b-color-l);
        @apply border-t-0 border-l-0;
        border-right-width: var(--cell-b-width-r);
        border-bottom-width: var(--cell-b-width-b);

        // 第一列
        &:first-child {
            border-left-width: var(--cell-b-width-l);
        }
        &[data-col="0"]{
            border-left-width: var(--cell-b-width-l);
        }

        &.small-font {
            font-size: 12px;

            >div {
                -webkit-transform: scale(calc(var(--cell-f-size) / 12));
            }
        }
    }
    // 上边框，没有header时，body需要上边框
    tr:first-child th, tbody tr:first-child td {
        border-top-width: var(--cell-b-width-t);
    }
}